extends layout

block content
  h1= title

  form(id='chipsForm', action="/resource/chips", method="POST")
    div.form-group
        label.chipsAttr(for='chipsName') chips Name
        input#chipstype(type='text', class="form-control", name='chipsName')
    div.form-group
        label.chipsAttr(for='Flavour') chips Flavour
        input#size(type='text',class="form-control", name='Flavour')
    div.form-group
        label.chipsAttr(for='price') chips price
        input#cost(type='number',class="form-control", name='price')
    input(type="submit" , class="btn btn-primary")

  script.
    document.forms['chipsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
