extends layout

block content
  h1= title

    if (toShow == null)
        h2 No instance to update
    else
       - let chipsid = toShow._id
       - let chipsName = toShow.chipsName
       - let chipsFlavour = toShow.Flavour
       - let chipsprice = toShow.price
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{chipsid}
  - let actionid = "/resource/chips/" + chipsid
  form(id='chipsForm', action= actionid, method="PUT")
    div.form-group
        label.chipsAttr(for='chipstype') chips Name
        input#chipstype(type='text', name='chipsName', value= chipsName )
    div.form-group
        label.chipsAttr(for='Flavour') chips size
        input#size(type='text', name='Flavour', value= chipsFlavour )
    div.form-group
        label.chipsAttr(for='price') chips cost
        input#cost(type='number', name='price', value= chipsprice )
    input(type="submit")

  script.
    document.forms['chipsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });
